<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <span class="logo-icon">🍗</span>
      <span class="logo-text">Cluckbait</span>
      <p class="footer-tagline"><%= t("footer.tagline") %></p>
    </div>
    <div class="footer-links">
      <div class="footer-col">
        <h4><%= t("footer.explore") %></h4>
        <%= link_to t("navbar.home"), root_path %>
        <%= link_to t("navbar.all_shops"), chicken_shops_path %>
      </div>
      <div class="footer-col">
        <h4><%= t("footer.account") %></h4>
        <% if user_signed_in? %>
          <%= link_to t("footer.my_profile"), profile_path(current_user) %>
          <%= link_to t("shared.sign_out"), destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to t("shared.sign_in"), new_user_session_path %>
          <%= link_to t("footer.join_cluckbait"), new_user_registration_path %>
        <% end %>
      </div>
      <div class="footer-col">
        <h4><%= t("footer.language") %></h4>
        <div class="language-selector">
          <%= form_tag update_locale_path, method: :patch, data: { turbo: false } do %>
            <select name="locale_preference" onchange="this.form.submit()" class="language-select" aria-label="<%= t('footer.language') %>">
              <% I18n.available_locales.each do |loc| %>
                <option value="<%= loc %>" <%= "selected" if loc == I18n.locale %>><%= locale_name(loc) %></option>
              <% end %>
            </select>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p><%= t("footer.copyright", year: Date.today.year) %></p>
    </div>
  </div>
</footer>
